.card {
  margin-top: 5rem;
  background-color: theme('colors.white');
  border: 2px  bold ;
  border-radius: theme('borderRadius.lg');
  padding: theme('spacing.6');
  box-shadow: theme('boxShadow.xl');
}
.nav-bar{
  height: 80px;
  background: rgb(245, 240, 240);
  position: fixed;
  width: 100%;

}
.cart-icon{
  margin-left: 58.2rem;
  margin-top: 1rem; 

}
.cart-length{
  margin-top: -2rem;


}
.image-size {
  width: 150px;
}